# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
next-env.d.ts

# tanstack
.tanstack/

# nitro
.nitro/
.output/

# expo
.expo/
expo-env.d.ts

# Xcode
*.hmap
*.ipa
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.moved-aside
*.pbxuser
!default.pbxuser
*.perspectivev3
!default.perspectivev3
*.xccheckout
*.xcuserstate
**/.xcode.env.local
DerivedData
xcuserdata

# Android/IntelliJ
.cxx/
.kotlin/
*.hprof
*.iml
*.keystore
!debug.keystore
.gradle
.idea
local.properties

# Metro & dependencies
**/Pods/
**/vendor/bundle/
*.jsbundle
.metro-health-check*

# production
build/
out/

# misc
*.bak
*.log
*.pem
.DS_Store

# debug
.pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*
!.env.example

# vercel
.vercel/

# typescript
.cache/
dist/

# turbo
.turbo
